/* stylesheet.css */
/* Style rule for the body element */
body{
    background-color:yellow;
    background-image:url(pix/bkgleather2.jpg);
    /* Default font styling */
    font: 10pt Arial, Helvetica, Sans-Serif;
    color:#5d3f25;
  }
  /* Style rule for the wrapper div */
  #wrapper{
    width:900px;
    margin:0 auto;
    background-color:white;  
    border:solid 2px #4c2e16;
    border-radius:20px;
    box-shadow:8px 8px 8px black;
  }
  /* Style for h1 headings */
  h1{
    font:italic small-caps bold 24px Arial Black, Gadget, Sans-Serif;
    text-shadow:-2px -2px 2px #a48362;
    text-align:center;
  }
  /* Style for h2 headings */
  h2{
    font:italic small-caps bold 18px Arial Black, Gadget, Sans-Serif;
    text-shadow:-1px -1px 1px #a48362;
  }
  /* Style for paragraphs */
  p{
    line-height:1.5;
  }